//
// <Project name>
// =============================================================================
body, html {
  height: 100%;
  background: $bg-content;
}

.#{$ns}con {
  background: $black;
}

.#{$ns}wrapper {
  max-height:auto;
  height: 100%;
}

.grid-recommend {
  .container {
    max-width: 750px;
  }
  .row {
    //padding-bottom: 8px;
    //border-bottom: 1px solid $line-ddd;
  }
  [class*=block-row-] > *, [class*=col-] {
    border: none;
    @include nowrap();
  }
  h3 {
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
  }
}
.font12{
  font-size: $base-font-size * 0.9;
}
//commont
.line-b {
  border-bottom: 1px solid $line-ddd;
}

.fline-tb {
  border-top: 1px solid $line-f90;
  border-bottom: 1px solid $line-f90;
}

.twhite {
  color: $white;
}

.tcolor1 {
  color: $line-f90;
}
.tcolor2{
  color: $text-red;
}
.tcolor3{
  color: $bg-header;
}

.#{$ns}fhide {
  display: none;
}

.#{$ns}fshow {
  display: block;
}

.#{$ns}text-info {
  color: $text-info;
  font-size: $base-font-size * 0.8;
}
.pt10{
  padding-top: 10px;
}
.p15{
  padding: 15px;
}
//btn

.#{$ns}btn {
  &.danger,
  &.danger:hover,
  &.error,
  &.error:hover,
  &.success,
  &.success:hover,
  &.info,
  &.info:hover {
    color: white
  }
  width: 100%;
  max-width: 250px;
  line-height: 2.5rem;
  font-size: $base-font-size * 1.2;
  margin: 0 auto;
  text-align: center;
  display: block;
  @include border-radius(4px);
  &.success {
    background: $btn-success;
  }
  &.cancel {
    background: $btn-cancel;
    border: 1px solid $line-ddd;
  }
  &.danger {
    background: $brand-danger;
  }
  &.disable {
    background: $bg-content;
    border: 1px solid $line-ddd;
  }
}

//header
.#{$ns}top-header {
  height: $header-h;
  background: $bg-header;
  line-height:$header-h;
  color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  a{
    color:$white;
    &:active{
      height: $header-h;
      width:100%;
      display: block;
      background: rgba(0,0,0,0.3);
    }
    &:hover{
      height: $header-h;
      width:100%;
      display: block;
      background: rgba(0,0,0,0.3);
    }

  }
}
.#{$ns}top-offset{
  margin-top: $header-h;
}
.#{$ns}offset-35{
  height: 35px;
}
//main_div
.#{$ns}main-box {
  padding: 20px;
}

.#{$ns}main-div {
  margin: 15px 0;
  .#{$ns}main-box {
    margin: 0 auto;
    background: $white;

    min-height: 280px;
    height: 100%;
    @include border-radius(6px);
  }
  .qcrode {
    width: 200px;
    height: 200px;
    padding: 4px;
    overflow: hidden;
    margin: 10px auto 5px;
  }

}

.#{$ns}box {
  min-height: 100px;
  line-height: 100px;
  background: $white;
}

.#{$ns}box-vertiacl {
  @include box-orient(vertical);
  @include ms-box();
  height:100%;
  .row {
    @include box-flex();
  }

}

.#{$ns}box-horizontal {
  @include box-orient();
  @include ms-box();
  .row {
    @include box-flex();
  }
}

.#{$ns}h100 {
  height: 100%;
}

.#{$ns}h60 {
  height: 60%;
}

.#{$ns}bgwhite {
  background: $white;
}

//border

.#{$ns}nh1 {
  height: 50px;
  line-height: 50px;
  width: 50%;
  margin: $base-font-size-px*2  auto;

}

//bg
.#{$ns}bg01 {
  background: url("../image/bg01.jpg") center no-repeat;
}

.#{$ns}rank-div {
  background: $white;
  .#{$ns}main-div {
    margin: 0 auto;
    position: relative;
    background: $bg-content;

    height: 180px;

    overflow: hidden;
  }
  .#{$ns}main-box {
    padding: 10px auto;
    background: none;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    border-radius: 0;

  }

}

.#{$ns}rank-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  img{
    width: 100%;
    height: 180px;
  }
}

.#{$ns}rank-title {
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  background: none;
  padding-top: 4.5rem;
  font-size: $base-font-size;
  .#{$ns}rankMonth{
    position: absolute;
    bottom: 24%;
    left: 0;
    text-align: center;
    width: 100%;
  }
}

.#{$ns}rank-listBox {
  min-height: 450px;
  padding-left: 12px;
  ul {
    padding: 0;
    margin: 0 0 100px 0;
    li {
      height: 45px;
      border-bottom: 1px solid $line-ddd;
      span {
        height: 45px;
        line-height: 45px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

  }
  .#{$ns}rank-listTile {
    line-height: 50px;
    height: 50px;
  }

}

//exchange
.#{$ns}exchange-div {
  .#{$ns}main-div {
    margin-top: 0;
    margin-bottom: 8px;

  }
  .#{$ns}main-box {
    padding-top: 30px;
    background: $white;
    min-height: 200px;
    border-radius: 0;

  }
  .#{$ns}input-div{
    width: 90%;
    display: block;
    height: 2.1rem;
    line-height: 2rem;
    text-align: left;
    margin: 5px auto;
    span{
      @include square(2rem,2rem);
      border: 1px solid silver;
      text-align: center;
      display: block;
      line-height: 2rem;
      float: left;
      vertical-align: middle;
      &:active{

        background: rgba(0,0,0,0.3);
      }
    }
    input{
      width: 80px;
      float: left;
      margin: 0 5px;
    }
  }

  .#{$ns}rank-listBox {
    ul {
      li {
        height: 60px;
        line-height: 60px;
        span{
          height: 60px;
          line-height: 60px;
          p{
            padding: 0;
            @include nowrap();
            line-height: 20px;
            font-size: $base-font-size * 0.8;

          }
        }
      }
    }

  }
}

.#{$ns}exchange-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background:$gray ;
  height: 76px;
  max-height: 75px;
  border-top: 1px solid $line-ddd;
  overflow: hidden;

}
.#{$ns}mark{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  background:rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}
.#{$ns}img-bigbox{
  width: 100%;
  max-width: 800px;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 101;
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;

}
.rank-icon{
  background: url("../image/rank_icon.png") center -110px no-repeat;
  min-width: 60px;
  height: 45px;
  color: $white;

}
.icon0{
  background-position: center 12px;
}
.icon1{
  background-position: center -30px;
}
.icon2{
  background-position: center -70px;
}