$bg-content:            #ebebeb;
$bg-header:             #00a53c;
$gray:                  #fafafa;

$header-h:              38px;


//--
$text-base:               #333;
$text-666:                #666;
$text-info:               #999;

//line
$line-ddd:                #ddd;
$line-f90:                #ff9000;

$black-10:                 darken(#fff, 10%);
$black-20:                 darken(#fff, 20%);
//line
//btn
$btn-success:             #46be78;
$btn-cancel:              #fff;
// Brand colors
$brand-primary:           #64a0dc;
$brand-success:           #5cb85c;
$brand-warning:           #f0ad4e;
$brand-danger:            #fb8f26;
$brand-info:              #5bc0de;

$text-red:                #fb262a;