$bg-content:            #ebebeb;
$bg-header:             #00a53c;
$gray:                    #fafafa;
//--
$text-base:               #333;
$text-666:                #666;
$text-info:               #999;

//line
$line-ddd:                #ddd;
$line-f90:                #ff9000;