<div class="am-container am-content" id="main-container">

    <div class="am-hd am-isPc">
        <strong>田田圈</strong>

    </div>
    <div class="am-ismoblie" id="am-ismoblie">
        <div class="am-hd">
            <div class="am-fl">
                <img src="image/logo90.png" alt="" style="vertical-align: middle" >
            </div>
            <strong class="am-fl ">&nbsp;&nbsp;田田圈APP</strong>
            <div class="am-fr "><a href="javascript:;" class="am-btn success" onclick="$app.openApp()">用APP打开</a> </div>
        </div>
    </div>

    <div class="am-bd am-article">
        <%if(isshow){%>

            <h1 class="am-article-title" id="title">
                <%= title%>
            </h1>
        <%if(author){%>
            <div class="am-userinfo-div clearfix">
                <div class="am-userimg am-fl">
                    <img src="<%= headimg%>" alt="" class="am-img am-fl">
                </div>
                <div class="am-userinfo am-fl">
                    <span class="am-username  " id="username"> <%=author %></span>
                    <p class="am-article-meta  clearfix"><%=createat%></p>
                </div>

            </div>
        <%}else{%>
        <p class="am-article-meta  clearfix"><%=createat%></p>
        <%}%>

            <div class="am-article-content clearfix">
                <%=content %>

                <% _.each(imgs,function(item){ %>
                    <img src="<%= item.src %>" alt="">
                <% }) %>
            </div>

            <div class="am-info">
                                    <span style="padding-left: 0">
                                        <i class="ui-icon">&#xe650;</i>
                                        阅读数 <%=readnum %>
                                    </span>
                                     <span>
                                        <i class="ui-icon">&#xe611;</i>
                                        评论数 <%= commentnum %>
                                    </span>
                                       <span>
                                        <i class="ui-icon">&#xe612;</i>
                                        点赞数 <%=praisenum %>
                                    </span>
                                       <span>
                                        <i class="ui-icon">&#xe626;</i>
                                        分享数<%= sharenum %>
                                    </span>
            </div>
        <%}else {%>

        <p class="am-tcenter">文章不存在或是已经被删除</p>

        <%}%>


    </div>

</div>









