
.#{$ns}comment{
  .#{$ns}ullist{
    li{
      padding:0;
      clear: both;
      @include clearfix();
      border-bottom: 1px solid $global-border;
      min-height: 120px;

    }

    .#{$ns}p-content{
      clear: both;
      min-height: 30px;
      margin-left: 55px;
      color: $text-base;
    }
    .#{$ns}p-recontent{
        padding: 5px;
        background-color: $bg-header;
       color: $text-info;
        display: block;
        margin: 10px auto;
      span{
        color: $text-base;
      }
    }
  }

}