@charset "UTF-8";
.font-white{
  color: white;
}
.font24{
  font-size: 24px;
}
.font-color1{
  color: $text-666;
}
.#{$ns}ltitle{
  font-size: 24px;
  color: $text-color1;
  margin-bottom: 20px;
}
h3{
  font-size: $font-size-base * 1.5;
  line-height: $line-height-base * 1.2 ;

  font-weight:400 ;
  color: $black;
}
h4{
  font-size: $font-size-base ;
  line-height: $line-height-base  ;
  font-weight:400 ;
  color: $black;
}