@charset "UTF-8";
.form-group{
  display: inline-block;
  margin: 4px auto;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 20px;
}
.form-control{
  width: 100%;

  @include border-radius(4px)
}
.form-60{
  width: 60%;
  @include border-radius(4px)
}
label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  @include box-sizing(border-box);
  height: 45px;
  text-indent: 1rem;
  line-height: 45px;
  font-size: 1.1rem;
  border: 1px solid $black-20;
  &:focus{
    outline-color: $text-color1;
  }
}
.form-group textarea,
.form-group select{
  display: block;
  width: 100%;
  padding: $input-padding;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-base;
  vertical-align: middle;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $black-20;
  -webkit-appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  // @include hook-form();

  // `:focus` state
  &:focus {
    outline-color: $text-color1;
  }
   &::-moz-placeholder {
    opacity: 1;
  }
}

.form-group select {
  width: 60%;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../image/arrow-down.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 45px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }