.#{$ns}logo{
    text-align: center;
}
.#{$ns}mlogo{
    line-height: 45px;
    height: 100%;
    img{
        vertical-align: middle;
    }
    b{
        font-size: 16px;
    }
}
.#{$ns}user{
    line-height: 45px;
    height: 100%;
    img{
        vertical-align: middle;
    }
    a{
        padding: 0;
    }
}