.#{$ns}logo{
    text-align: center;
}
.#{$ns}mlogo{
    line-height: 45px;
    height: 100%;
    img{
        vertical-align: middle;
    }
    b{
        font-size: 16px;
    }
}
.#{$ns}user{
    line-height: 45px;
    height: 100%;
    img{
        vertical-align: middle;
    }
    a{
        padding: 0;
    }
}

//大号的头像
.#{$ns}avatar{
  @include avatar(80);
    text-align: center;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border:1px solid $global-border;
    background: $black-10;
    img{
        width: 100%;

    }

}
//小号头像
.#{$ns}mavatar{

}