@charset "UTF-8";
/*!
 @Name: ttq style
 @Author: 向秀成
 @Blog： tomxiang.com
 */
html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}

html, body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: auto;
  background-color: #fff;
  font-size: 14px;
  height: 100%;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
  display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
  display: inline-block;
}

header, section, footer {
  position: relative;
}

ol, ul {
  list-style: none;
}

input, button, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*-webkit-appearance:none;*/
  background-color: #fff;
}

button:hover {
  outline: 0;
}
button:focus {
  outline: 0;
}

span {
  display: inline-block;
}

a:active, a:hover {
  outline: 0;
}

a, a:visited {
  text-decoration: none;
}

a {
  color: #64a0dc;
}

b, strong {
  font-style: normal;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.am-fl {
  float: left;
}

.am-fr {
  float: right;
}

.am-fshow {
  display: block;
}

.am-fhide {
  display: none;
}

.am-tleft {
  text-align: left;
}

.am-tright {
  text-align: right;
}

.am-tcenter {
  text-align: center;
}

.am-block {
  content: '';
  display: block;
  height: 100%;
  vertical-align: middle;
}

.am-mt20 {
  margin-top: 20px;
}

.am-mb20 {
  margin-bottom: 20px;
}

.am-mt40 {
  margin: 40px auto 10px;
}

p {
  padding: 2px 0;
  color: #666;
}

.am-cursor {
  cursor: pointer;
}

/*!
 @Name: ttq style
 @Author: 向秀成
 @Blog： tomxiang.com
 */
@font-face {
  font-family: "iconfont";
  src: url(font/iconfont.ttf) format("truetype");
}
.ui-icon, [class^="ui-icon-"] {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  display: block;
}

.ui-icon-icon06:before {
  content: "\e63f";
}

.ui-icon-icon09:before {
  content: "\e600";
}

.ui-icon-icon27:before {
  content: "\e629";
}

.ui-icon-icon34:before {
  content: "\e601";
}

.ui-icon-icon53:before {
  content: "\e602";
}

.ui-icon-icon55:before {
  content: "\e603";
}

.ui-icon-iconhomepagedefault:before {
  content: "\e604";
}

.ui-icon-iconhomepageselected:before {
  content: "\e605";
}

.ui-icon-iconservicestationdefault:before {
  content: "\e606";
}

.ui-icon-iconservicestationselected:before {
  content: "\e607";
}

.ui-icon-iconfinddefault:before {
  content: "\e608";
}

.ui-icon-iconfindselected:before {
  content: "\e609";
}

.ui-icon-iconwodedefault:before {
  content: "\e60a";
}

.ui-icon-iconwodeselected:before {
  content: "\e60b";
}

.ui-icon-iconscandefault:before {
  content: "\e60c";
}

.ui-icon-iconsigndefault:before {
  content: "\e60d";
}

.ui-icon-iconnoticedefault:before {
  content: "\e60e";
}

.ui-icon-iconnewsdefault:before {
  content: "\e60f";
}

.ui-icon-iconcollectiondefault:before {
  content: "\e610";
}

.ui-icon-iconcommentdefault:before {
  content: "\e611";
}

.ui-icon-iconlikedefault:before {
  content: "\e612";
}

.ui-icon-iconclosedefault:before {
  content: "\e613";
}

.ui-icon-iconcollectionselected:before {
  content: "\e614";
}

.ui-icon-iconfollowdefault:before {
  content: "\e615";
}

.ui-icon-icongiftdefault:before {
  content: "\e616";
}

.ui-icon-iconhelpfeedbackdefault:before {
  content: "\e617";
}

.ui-icon-iconintegraldefault:before {
  content: "\e618";
}

.ui-icon-iconiphonedefault:before {
  content: "\e619";
}

.ui-icon-iconmoredefault:before {
  content: "\e61a";
}

.ui-icon-iconmore01default:before {
  content: "\e61b";
}

.ui-icon-iconmyaboutdefault:before {
  content: "\e61c";
}

.ui-icon-iconmycommentdefault:before {
  content: "\e61d";
}

.ui-icon-iconmycoupondefault:before {
  content: "\e61e";
}

.ui-icon-iconmyfollowdefault:before {
  content: "\e61f";
}

.ui-icon-iconmygiftdefault:before {
  content: "\e620";
}

.ui-icon-iconmymoredefault:before {
  content: "\e621";
}

.ui-icon-iconmyorderdefault:before {
  content: "\e622";
}

.ui-icon-iconmypostdefault:before {
  content: "\e623";
}

.ui-icon-iconreminddefault:before {
  content: "\e624";
}

.ui-icon-iconreturndefault:before {
  content: "\e625";
}

.ui-icon-iconsharedefault:before {
  content: "\e626";
}

.ui-icon-iconsigndefault1:before {
  content: "\e627";
}

.ui-icon-iconsubscribedefault:before {
  content: "\e628";
}

.ui-icon-iconaddtodefault:before {
  content: "\e62a";
}

.ui-icon-iconbalancedefault:before {
  content: "\e62b";
}

.ui-icon-iconpicturedefault:before {
  content: "\e62c";
}

.ui-icon-iconphotographdefault:before {
  content: "\e62d";
}

.ui-icon-iconwechatdefault:before {
  content: "\e62e";
}

.ui-icon-iconqqdefault:before {
  content: "\e62f";
}

.ui-icon-iconqqzonedefault:before {
  content: "\e630";
}

.ui-icon-iconfriendscircledefault:before {
  content: "\e631";
}

.ui-icon-iconnews01default:before {
  content: "\e632";
}

.ui-icon-iconclose01default:before {
  content: "\e633";
}

.ui-icon-iconexpert01default:before {
  content: "\e634";
}

.ui-icon-iconexpertdefault:before {
  content: "\e635";
}

.ui-icon-iconganjuquan:before {
  content: "\e636";
}

.ui-icon-iconpingguoquan:before {
  content: "\e637";
}

.ui-icon-iconmangguoquan:before {
  content: "\e638";
}

.ui-icon-iconputaoquan:before {
  content: "\e639";
}

.ui-icon-iconguacaiquan:before {
  content: "\e63a";
}

.ui-icon-icondamaiquan:before {
  content: "\e63b";
}

.ui-icon-iconxiangjiaoquan:before {
  content: "\e63c";
}

.ui-icon-iconqitazuowuquan:before {
  content: "\e63d";
}

.ui-icon-iconrushdefault:before {
  content: "\e63e";
}

.ui-icon-labelorder:before {
  content: "\e640";
}

.ui-icon-imglinktimeout:before {
  content: "\e642";
}

.ui-icon-blankpagenocontent:before {
  content: "\e641";
}

.font-white {
  color: white;
}

.font24 {
  font-size: 24px;
}

.font-color1 {
  color: #666;
}

.am-ltitle {
  font-size: 24px;
  color: #00a53c;
  margin-bottom: 20px;
}

h3 {
  font-size: 21px;
  line-height: 1.68;
  font-weight: 400;
  color: #000;
}

h4 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #000;
}

.form-group {
  display: inline-block;
  margin: 4px auto;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.form-60 {
  width: 60%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  text-indent: 1rem;
  line-height: 45px;
  font-size: 1.1rem;
  border: 1px solid #cccccc;
}
input[type="text"]:focus {
  outline-color: #00a53c;
}

.form-group textarea,
.form-group select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-group textarea:focus,
.form-group select:focus {
  outline-color: #00a53c;
}
.form-group textarea::-moz-placeholder,
.form-group select::-moz-placeholder {
  opacity: 1;
}

.form-group select {
  width: 60%;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../image/arrow-down.png") no-repeat scroll right center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 45px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none;
}

.am-container {
  margin: 0 auto;
  max-width: 960px;
  width: 960px;
}

.am-wrapper {
  width: 100%;
  min-height: 100%;
  background: #ebebeb;
}

.am-loging-wrapper {
  width: 100%;
  height: 100%;
  background: #5db6eb url("../image/bg.jpg") center center repeat-x;
}

.am-article-wrapper {
  width: 100%;
  min-height: 100%;
  background: #ebebeb;
}
.am-article-wrapper .am-container {
  margin: 0 auto;
  max-width: 750px;
  width: 750px;
}

.am-header {
  height: 90px;
  padding-top: 20px;
}

.am-main {
  min-height: 80%;
  height: auto;
}

.am-content {
  min-height: 500px;
  height: auto;
}

.am-loginMain {
  min-height: 80%;
  text-align: center;
}

.am-loginBox {
  display: inline-block;
  vertical-align: middle;
  width: 350px;
  min-height: 300px;
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.8);
  padding: 60px 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.am-foot {
  height: 50px;
  line-height: 50px;
}

.am-top-header {
  width: 100%;
  height: 45px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.am-banner {
  width: 100%;
  height: 300px;
  background: url("../image/banner.jpg") center center no-repeat;
  margin: 0;
}
.am-banner:before, .am-banner:after {
  content: " ";
  display: table;
}
.am-banner:after {
  clear: both;
}

.am-userDiv {
  width: 300px;
  background: white;
  text-align: center;
  content: '';
  display: block;
  height: 100%;
  vertical-align: middle;
  opacity: 0.8;
  filter: "alpha(opacity=80)";
}
.am-userDiv .am-btn {
  margin-top: 20px;
  width: 80%;
}

.am-hd {
  min-height: 45px;
  line-height: 45px;
}
.am-hd:before, .am-hd:after {
  content: " ";
  display: table;
}
.am-hd:after {
  clear: both;
}
.am-hd p {
  color: #999;
}
.am-hd a {
  line-height: 21px;
  color: #666;
}
.am-hd a:hover {
  color: #64a0dc;
}

.am-bd:before, .am-bd:after {
  content: " ";
  display: table;
}
.am-bd:after {
  clear: both;
}
.am-bd p {
  color: #333;
}

.am-ullist {
  width: 100%;
}
.am-ullist:before, .am-ullist:after {
  content: " ";
  display: table;
}
.am-ullist:after {
  clear: both;
}
.am-ullist li {
  background: #fff;
  min-height: 120px;
  padding: 20px;
  display: block;
  margin-bottom: 10px;
}
.am-ullist .imgDiv {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 10px;
}
.am-ullist .imgDiv img {
  width: 100%;
}
.am-ullist .txtDiv {
  float: left;
  display: block;
  width: 780px;
  overflow: hidden;
}
.am-ullist .txtDiv a {
  line-height: 21px;
}
.am-ullist .txtDiv h4 {
  line-height: 21px;
  font-size: 16.8px;
  font-weight: bold;
  cursor: pointer;
}
.am-ullist .txtDiv h4 a {
  color: #333;
}
.am-ullist .txtDiv h4 a:hover {
  color: #64a0dc;
}
.am-ullist .txtDiv span {
  line-height: 21px;
}
.am-ullist .txtDiv p {
  width: 100%;
  clear: both;
  line-height: 21px;
}
.am-ullist .txtDiv .am-p-info {
  color: #999;
}
.am-ullist .txtDiv .am-p-content {
  height: 42px;
}

.am-info {
  color: #666;
  margin-top: 10px;
}
.am-info:before, .am-info:after {
  content: " ";
  display: table;
}
.am-info:after {
  clear: both;
}
.am-info span {
  float: left;
  padding: 0 10px;
}
.am-info span i {
  float: left;
  margin-right: 5px;
}
.am-info span + span {
  border-left: 1px solid #ccc;
}

.am-article {
  background: #fff;
  padding: 30px;
  display: block;
  overflow: hidden;
  min-height: 500px;
}
.am-article .am-article-title {
  width: 100%;
}
.am-article .am-article-meta {
  color: #999;
}
.am-article .am-userinfo-div {
  height: 50px;
  margin-top: 10px;
}
.am-article .am-userinfo-div:before, .am-article .am-userinfo-div:after {
  content: " ";
  display: table;
}
.am-article .am-userinfo-div:after {
  clear: both;
}
.am-article .am-userinfo-div .am-userimg {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
}
.am-article .am-userinfo-div .am-userinfo {
  display: inline-block;
}
.am-article .am-userinfo-div .am-userinfo p {
  line-height: 21px;
  font-size: 11.2px;
}
.am-article .am-userinfo-div .am-img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 200px;
  overflow: hidden;
}
.am-article .am-userinfo-div .am-img > span {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-border-radius: 200px;
}
.am-article .am-article-content {
  width: 100%;
  margin: 10px auto;
}
.am-article .am-article-content:before, .am-article .am-article-content:after {
  content: " ";
  display: table;
}
.am-article .am-article-content:after {
  clear: both;
}
.am-article img {
  max-width: 690px;
  display: block;
  margin: 5px auto;
}
.am-article p {
  line-height: 28px;
  font-size: 16.8px;
}
.am-article .am-info i {
  margin-top: 2px;
}

.am-edit {
  padding: 30px;
  background: #fff;
  display: block;
}
.am-edit:before, .am-edit:after {
  content: " ";
  display: table;
}
.am-edit:after {
  clear: both;
}
.am-edit .am-edit-lead {
  width: 100px;
  line-height: 45px;
  font-size: 16.8px;
  color: #666;
}
.am-edit .am-edit-lead i {
  color: #f00;
  font-style: normal;
}
.am-edit .am-edit-input {
  width: 500px;
  overflow: hidden;
}
.am-edit .am-edit-input input {
  width: 100%;
  background: #fafafa;
  padding: 10px;
  text-indent: 0;
}
.am-edit .am-edit-input textarea {
  background: #fafafa;
  resize: none;
  width: 478px;
}
.am-edit .am-edit-input button {
  width: 160px;
  cursor: pointer;
}
.am-edit .am-edit-error {
  font-size: 11.9px;
  color: red;
  clear: both;
  margin-left: 100px;
}
.am-edit .am-edit-error:before, .am-edit .am-edit-error:after {
  content: " ";
  display: table;
}
.am-edit .am-edit-error:after {
  clear: both;
}

.am-mobile {
  font-size: 3rem;
}
.am-mobile p {
  line-height: 1.5;
  font-size: 3rem;
  padding: 1rem 0;
}
.am-mobile p.mini {
  font-size: 2rem;
}
.am-mobile .am-btn {
  height: 6rem;
  font-size: 3rem;
  line-height: 6rem;
  width: 60%;
  margin: 0 auto;
  display: block;
}
.am-mobile .am-article-title {
  color: #46be78;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.am-mobile ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.am-quaere {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.am-quaere:before, .am-quaere:after {
  content: " ";
  display: table;
}
.am-quaere:after {
  clear: both;
}
.am-quaere .am-lbox {
  width: 5%;
  margin-right: 2%;
  color: #46be78;
  float: left;
}
.am-quaere .am-rbox {
  float: left;
  width: 90%;
  color: #333;
}

.am-username {
  line-height: 25.2px;
}

.am-p-info {
  color: #999;
}

.am-btn {
  width: 100%;
  line-height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.am-btn.danger, .am-btn.danger:hover, .am-btn.error, .am-btn.error:hover, .am-btn.success, .am-btn.success:hover, .am-btn.info, .am-btn.info:hover {
  color: white;
}
.am-btn.success {
  background: #46be78;
}
.am-btn.cancel {
  background: #fff;
  border: 1px solid #ddd;
}
.am-btn.disable {
  background: #ebebeb;
  border: 1px solid #ddd;
}

.am-btn-code {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #e6e6e6;
  width: 35%;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
}
.am-btn-code img {
  width: 100%;
  height: 100%;
}

.layui-layer-imgbar, .layui-layer-imgtit a, .layui-layer-tab .layui-layer-title span, .layui-layer-title {
  text-overflow: ellipsis;
  white-space: nowrap;
}

* html {
  background-attachment: fixed;
}

html #layui_layer_skinlayercss {
  display: none;
  position: absolute;
  width: 1989px;
}

.layui-layer, .layui-layer-shade {
  position: fixed;
  _position: absolute;
  pointer-events: auto;
}

.layui-layer-shade {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  _height: expression(document.body.offsetHeight+"px");
}

.layui-layer {
  top: 150px;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-background-clip: content;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .3s;
  animation-duration: 0.3s;
}

.layui-layer-close {
  position: absolute;
}

.layui-layer-content {
  position: relative;
}

.layui-layer-border {
  border: 1px solid #B2B2B2;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.layui-layer-moves {
  position: absolute;
  border: 3px solid #666;
  border: 3px solid rgba(0, 0, 0, 0.5);
  cursor: move;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  filter: alpha(opacity=50);
}

.layui-layer-load {
  background: url(default/loading-0.gif) center center no-repeat #fff;
}

.layui-layer-ico {
  background: url(default/icon.png) no-repeat;
}

.layui-layer-btn a, .layui-layer-dialog .layui-layer-ico, .layui-layer-setwin a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.layer-anim {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.layer-anim-close {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
  -webkit-animation-duration: .2s;
  animation-duration: 0.2s;
}

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(-2000px);
    transform: scale(0.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(60px);
    transform: scale(0.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(-2000px);
    -ms-transform: scale(0.1) translateY(-2000px);
    transform: scale(0.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(60px);
    -ms-transform: scale(0.475) translateY(60px);
    transform: scale(0.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.layer-anim-01 {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.layer-anim-02 {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateX(-2000px);
    transform: scale(0.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateX(48px);
    transform: scale(0.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateX(-2000px);
    -ms-transform: scale(0.1) translateX(-2000px);
    transform: scale(0.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateX(48px);
    -ms-transform: scale(0.475) translateX(48px);
    transform: scale(0.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.layer-anim-03 {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}
@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}
.layer-anim-04 {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.layer-anim-05 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.layer-anim-06 {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.layui-layer-title {
  padding: 0 80px 0 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  background-color: #F8F8F8;
  border-radius: 2px 2px 0 0;
}

.layui-layer-setwin {
  position: absolute;
  right: 15px;
  *right: 0;
  top: 15px;
  font-size: 0;
  line-height: initial;
}

.layui-layer-setwin a {
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  font-size: 12px;
  _overflow: hidden;
}

.layui-layer-setwin .layui-layer-min cite {
  position: absolute;
  width: 14px;
  height: 2px;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #2E2D3C;
  cursor: pointer;
  _overflow: hidden;
}

.layui-layer-setwin .layui-layer-min:hover cite {
  background-color: #2D93CA;
}

.layui-layer-setwin .layui-layer-max {
  background-position: -32px -40px;
}

.layui-layer-setwin .layui-layer-max:hover {
  background-position: -16px -40px;
}

.layui-layer-setwin .layui-layer-maxmin {
  background-position: -65px -40px;
}

.layui-layer-setwin .layui-layer-maxmin:hover {
  background-position: -49px -40px;
}

.layui-layer-setwin .layui-layer-close1 {
  background-position: 0 -40px;
  cursor: pointer;
}

.layui-layer-setwin .layui-layer-close1:hover {
  opacity: 0.7;
}

.layui-layer-setwin .layui-layer-close2 {
  position: absolute;
  right: -28px;
  top: -28px;
  width: 30px;
  height: 30px;
  margin-left: 0;
  background-position: -149px -31px;
  *right: -18px;
  _display: none;
}

.layui-layer-setwin .layui-layer-close2:hover {
  background-position: -180px -31px;
}

.layui-layer-btn {
  text-align: right;
  padding: 0 10px 12px;
  pointer-events: auto;
}

.layui-layer-btn a {
  height: 28px;
  line-height: 28px;
  margin: 0 6px;
  padding: 0 15px;
  border: 1px solid #dedede;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 2px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.layui-layer-btn a:hover {
  opacity: .9;
  text-decoration: none;
}

.layui-layer-btn a:active {
  opacity: 0.7;
}

.layui-layer-btn .layui-layer-btn0 {
  border-color: #4898d5;
  background-color: #2e8ded;
  color: #fff;
}

.layui-layer-dialog {
  min-width: 260px;
}

.layui-layer-dialog .layui-layer-content {
  position: relative;
  padding: 20px;
  line-height: 24px;
  word-break: break-all;
  font-size: 14px;
  overflow: auto;
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico {
  position: absolute;
  top: 16px;
  left: 15px;
  _left: -40px;
  width: 30px;
  height: 30px;
}

.layui-layer-ico1 {
  background-position: -30px 0;
}

.layui-layer-ico2 {
  background-position: -60px 0;
}

.layui-layer-ico3 {
  background-position: -90px 0;
}

.layui-layer-ico4 {
  background-position: -120px 0;
}

.layui-layer-ico5 {
  background-position: -150px 0;
}

.layui-layer-ico6 {
  background-position: -180px 0;
}

.layui-layer-rim {
  border: 6px solid #8D8D8D;
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: none;
}

.layui-layer-msg {
  min-width: 180px;
  border: 1px solid #D3D4D3;
  box-shadow: none;
}

.layui-layer-hui {
  min-width: 100px;
  background-color: #000;
  filter: alpha(opacity=60);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
}

.layui-layer-hui .layui-layer-content {
  padding: 12px 25px;
  text-align: center;
}

.layui-layer-dialog .layui-layer-padding {
  padding: 20px 20px 20px 55px;
  text-align: left;
}

.layui-layer-page .layui-layer-content {
  position: relative;
  overflow: auto;
}

.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn {
  padding-top: 10px;
}

.layui-layer-nobg {
  background: 0 0;
}

.layui-layer-iframe .layui-layer-content {
  overflow: hidden;
}

.layui-layer-iframe iframe {
  display: block;
  width: 100%;
}

.layui-layer-loading {
  border-radius: 100%;
  background: 0 0;
  box-shadow: none;
  border: none;
}

.layui-layer-loading .layui-layer-content {
  width: 60px;
  height: 24px;
  background: url(default/loading-0.gif) no-repeat;
}

.layui-layer-loading .layui-layer-loading1 {
  width: 37px;
  height: 37px;
  background: url(default/loading-1.gif) no-repeat;
}

.layui-layer-ico16, .layui-layer-loading .layui-layer-loading2 {
  width: 32px;
  height: 32px;
  background: url(default/loading-2.gif) no-repeat;
}

.layui-layer-tips {
  background: 0 0;
  box-shadow: none;
  border: none;
}

.layui-layer-tips .layui-layer-content {
  position: relative;
  line-height: 22px;
  min-width: 12px;
  padding: 5px 10px;
  font-size: 12px;
  _float: left;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #F90;
  color: #fff;
}

.layui-layer-tips .layui-layer-close {
  right: -2px;
  top: -1px;
}

.layui-layer-tips i.layui-layer-TipsG {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 8px;
  border-color: transparent;
  border-style: dashed;
  *overflow: hidden;
}

.layui-layer-tips i.layui-layer-TipsB, .layui-layer-tips i.layui-layer-TipsT {
  left: 5px;
  border-right-style: solid;
  border-right-color: #F90;
}

.layui-layer-tips i.layui-layer-TipsT {
  bottom: -8px;
}

.layui-layer-tips i.layui-layer-TipsB {
  top: -8px;
}

.layui-layer-tips i.layui-layer-TipsL, .layui-layer-tips i.layui-layer-TipsR {
  top: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F90;
}

.layui-layer-tips i.layui-layer-TipsR {
  left: -8px;
}

.layui-layer-tips i.layui-layer-TipsL {
  right: -8px;
}

.layui-layer-lan[type=dialog] {
  min-width: 280px;
}

.layui-layer-lan .layui-layer-title {
  background: #4476A7;
  color: #fff;
  border: none;
}

.layui-layer-lan .layui-layer-btn {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #E9E7E7;
}

.layui-layer-lan .layui-layer-btn a {
  background: #BBB5B5;
  border: none;
}

.layui-layer-lan .layui-layer-btn .layui-layer-btn1 {
  background: #C9C5C5;
}

.layui-layer-molv .layui-layer-title {
  background: #009f95;
  color: #fff;
  border: none;
}

.layui-layer-molv .layui-layer-btn a {
  background: #009f95;
}

.layui-layer-molv .layui-layer-btn .layui-layer-btn1 {
  background: #92B8B1;
}

.layui-layer-iconext {
  background: url(default/icon-ext.png) no-repeat;
}

.layui-layer-prompt .layui-layer-input {
  display: block;
  width: 220px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  padding: 0 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
  color: #333;
}

.layui-layer-prompt textarea.layui-layer-input {
  width: 300px;
  height: 100px;
  line-height: 20px;
}

.layui-layer-tab {
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.4);
}

.layui-layer-tab .layui-layer-title {
  padding-left: 0;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  overflow: visible;
}

.layui-layer-tab .layui-layer-title span {
  position: relative;
  float: left;
  min-width: 80px;
  max-width: 260px;
  padding: 0 20px;
  text-align: center;
  cursor: default;
  overflow: hidden;
}

.layui-layer-tab .layui-layer-title span.layui-layer-tabnow {
  height: 43px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
}

.layui-layer-tab .layui-layer-title span:first-child {
  border-left: none;
}

.layui-layer-tabmain {
  line-height: 24px;
  clear: both;
}

.layui-layer-tabmain .layui-layer-tabli {
  display: none;
}

.layui-layer-tabmain .layui-layer-tabli.xubox_tab_layer {
  display: block;
}

.xubox_tabclose {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.layui-layer-photos {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.layui-layer-photos .layui-layer-content {
  overflow: hidden;
  text-align: center;
}

.layui-layer-photos .layui-layer-phimg img {
  position: relative;
  width: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.layui-layer-imgbar, .layui-layer-imguide {
  display: none;
}

.layui-layer-imgnext, .layui-layer-imgprev {
  position: absolute;
  top: 50%;
  width: 27px;
  _width: 44px;
  height: 44px;
  margin-top: -22px;
  outline: 0;
  blr: expression(this.onFocus=this.blur());
}

.layui-layer-imgprev {
  left: 10px;
  background-position: -5px -5px;
  _background-position: -70px -5px;
}

.layui-layer-imgprev:hover {
  background-position: -33px -5px;
  _background-position: -120px -5px;
}

.layui-layer-imgnext {
  right: 10px;
  _right: 8px;
  background-position: -5px -50px;
  _background-position: -70px -50px;
}

.layui-layer-imgnext:hover {
  background-position: -33px -50px;
  _background-position: -120px -50px;
}

.layui-layer-imgbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: #000 \9;
  filter: Alpha(opacity=80);
  color: #fff;
  overflow: hidden;
  font-size: 0;
}

.layui-layer-imgtit * {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  font-size: 12px;
}

.layui-layer-imgtit a {
  max-width: 65%;
  overflow: hidden;
  color: #fff;
}

.layui-layer-imgtit a:hover {
  color: #fff;
  text-decoration: underline;
}

.layui-layer-imgtit em {
  padding-left: 10px;
  font-style: normal;
}

.progressjs-inner {
  width: 0;
}

.progressjs-progress {
  z-index: 9999999;
}

/* blue theme, like iOS 7 progress bar */
.progressjs-theme-blue .progressjs-inner {
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #3498db;
}

.progressjs-theme-blue.progressjs-end {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.progressjs-theme-blue .progressjs-percent {
  display: none;
}

/* blue theme with overlay layer, no percent bar */
.progressjs-theme-blueOverlay {
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.progressjs-theme-blueOverlay .progressjs-inner {
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #3498db;
}

.progressjs-theme-blueOverlay.progressjs-end {
  opacity: 0 !important;
}

.progressjs-theme-blueOverlay .progressjs-percent {
  display: none;
}

/* blue theme with overlay layer, no percent bar */
.progressjs-theme-blueOverlay {
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.progressjs-theme-blueOverlay .progressjs-inner {
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #3498db;
}

.progressjs-theme-blueOverlay.progressjs-end {
  opacity: 0 !important;
}

.progressjs-theme-blueOverlay .progressjs-percent {
  display: none;
}

/* Blue theme with border radius and overlay layer */
.progressjs-theme-blueOverlayRadius {
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 5px;
}

.progressjs-theme-blueOverlayRadius .progressjs-inner {
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #3498db;
  border-radius: 5px;
}

.progressjs-theme-blueOverlayRadius.progressjs-end {
  opacity: 0 !important;
}

.progressjs-theme-blueOverlayRadius .progressjs-percent {
  display: none;
}

/* Blue theme with border radius and overlay layer */
.progressjs-theme-blueOverlayRadiusHalfOpacity {
  background-color: white;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 5px;
}

.progressjs-theme-blueOverlayRadiusHalfOpacity .progressjs-inner {
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #3498db;
  border-radius: 5px;
}

.progressjs-theme-blueOverlayRadiusHalfOpacity.progressjs-end {
  opacity: 0 !important;
}

.progressjs-theme-blueOverlayRadiusHalfOpacity .progressjs-percent {
  display: none;
}

/* Blue theme with border radius, overlay layer and percent bar */
.progressjs-theme-blueOverlayRadiusWithPercentBar {
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 5px;
}

.progressjs-theme-blueOverlayRadiusWithPercentBar .progressjs-inner {
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #3498db;
  border-radius: 5px;
}

.progressjs-theme-blueOverlayRadiusWithPercentBar.progressjs-end {
  opacity: 0 !important;
}

.progressjs-theme-blueOverlayRadiusWithPercentBar .progressjs-percent {
  width: 70px;
  text-align: center;
  height: 40px;
  position: absolute;
  right: 50%;
  margin-right: -35px;
  top: 50%;
  margin-top: -20px;
  font-size: 30px;
  opacity: .5;
}

.progressjs-theme-blackRadiusInputs {
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.progressjs-theme-blackRadiusInputs .progressjs-inner {
  height: 2px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: #34495e;
}

.progressjs-theme-blackRadiusInputs.progressjs-end {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.progressjs-theme-blackRadiusInputs .progressjs-percent {
  display: none;
}

.am-logo {
  text-align: center;
}

.am-mlogo {
  line-height: 45px;
  height: 100%;
}
.am-mlogo img {
  vertical-align: middle;
}
.am-mlogo b {
  font-size: 16px;
}
.am-mlogo a {
  color: #333;
}

.am-user {
  line-height: 45px;
  height: 45px;
  overflow: hidden;
}
.am-user .box {
  width: 300px;
  float: right;
  text-align: right;
  color: #ddd;
}
.am-user .box img {
  width: 20px;
  height: 20px;
  background: #ebebeb;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-right: 5px;
}
.am-user .box span, .am-user .box a {
  color: #333;
}
.am-user .box span:hover, .am-user .box a:hover {
  color: #00a53c;
}
.am-user img {
  vertical-align: middle;
}
.am-user a {
  padding: 0;
}

.am-avatar {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 200px;
  overflow: hidden;
  text-align: center;
  height: 80px;
  width: 80px;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #e6e6e6;
}
.am-avatar > span {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-border-radius: 200px;
}
.am-avatar img {
  width: 100%;
}

.am-mavatar {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 200px;
  overflow: hidden;
  text-align: center;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #e6e6e6;
}
.am-mavatar > span {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-border-radius: 200px;
}
.am-mavatar img {
  width: 100%;
}
