.#{$ns}logo{
    text-align: center;
}
.#{$ns}mlogo{
    line-height: 45px;
    height: 100%;
    img{
        vertical-align: middle;
    }
    b{
        font-size: 16px;
    }
  a{
    color: $text-base;
  }
}
.#{$ns}user{
    line-height: $line-height;
    height: 45px;
    overflow: hidden;
    .box{
      width: 300px;
      float: right;

      text-align: right;
      img{
        width: 20px;
        height: 20px;
        background: $bg-content;
        @include  border-radius(20px);
        margin-right: 5px;
      }
      span, a{
        color:$text-base ;
        &:hover{
          color: $text-color1;
        }
      }
      color: $global-border;
    }

    img{
        vertical-align: middle;
    }
    a{
        padding: 0;
    }
}

//大号的头像
.#{$ns}avatar{
  @include avatar(80);
    text-align: center;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border:1px solid $global-border;
    background: $black-10;
    img{
        width: 100%;

    }

}
//小号头像
.#{$ns}mavatar{
  @include avatar(30);
  text-align: center;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border:1px solid $global-border;
  background: $black-10;
  img{
    width: 100%;

  }
}