<div class="am-banner ">
    <div class="am-container clearfix am-block">
        <div class="am-userDiv am-fr">
            <div class="am-mt40 am-avatar ">
                <%if(userinfo.logo){%>
                <img src="<%=userinfo.logo%>" alt="">
                <%}else {%>
                <img src="image/05_02_avatar_default.png" alt="">
                <%}%>
            </div>


            <h3><%=userinfo.nickname %></h3>
            <p><%=userinfo.plants%></p>
            <a class="am-btn  success" href="index.html?m=edit">
                我要写文章
            </a>

        </div>
    </div>
</div>

<div class="am-container am-content" id="main-container">
    <div class="am-hd">
        文章列表 (共 <%=listdata.totalCount%> 篇)

    </div>
    <div class="am-bd">
        <%if(listdata.totalCount){%>
        <ul class="am-ullist">

            <% _.each(listdata.list,function(item){ %>



            <li id="article<%=item.id%>">
                <%if(item.isImg!="0"){%>
                    <div class="imgDiv">
                        <img src="<%=item.postImg[0].thumb%>" alt="">
                    </div>
                <%}else {%>
                    <div class="imgDiv">
                        <img src="image/default_icon.jpg" alt="">
                    </div>
                <%}%>

                <div class="txtDiv">
                    <div class="am-hd">
                        <h4 class="am-fl">
                            <a href="index.html?m=article&id=<%=item.id %>"><%= item.title%></a>
                        </h4>
                        <a class="am-fr" href="javascript:;" id="dellItem" onclick="$app.dellArticle(<%=item.id%>)"> 删除</a>
                        <p class="am-p-info"><%= item.createtime%>&nbsp;&nbsp;&nbsp;&nbsp;<%= item.subscriptionName%></p>


                    </div>
                    <div class="am-bd">
                            <p class="am-p-content"><%= item.content%> </p>
                    </div>
                    <div class="am-info">
                                <span style="padding-left: 0">
                                    <i class="ui-icon">&#xe650;</i>
                                    阅读数 <%= item.readNum%>
                                </span>
                                 <span>
                                    <i class="ui-icon">&#xe611;</i>
                                    评论数 <%= item.commentNum%>
                                </span>
                                   <span>
                                    <i class="ui-icon">&#xe612;</i>
                                    点赞数 <%= item.praiseNum%>
                                </span>
                                   <span>
                                    <i class="ui-icon">&#xe626;</i>
                                    分享数 <%= item.shareNum%>
                                </span>
                    </div>
                </div>

            </li>


            <% }) %>


        </ul>
        <%}else {%>
            <p class="am-tcenter">
            <img src="image/noarticle.jpg" alt="">
            </p>
        <%}%>




    </div>

</div>


