.border-l{
  border-left:1px solid $border-line;
}
.border-r{
  border-right:1px solid $border-line;
}
.border-t{
  border-top: 1px solid $border-line;
}
.border-b{
  border-bottom: 1px solid $border-line;
}