.am-tcolor01{
  color: $txt-color01;
}
.am-tcolor02{
  color: $txt-color02;
}
.am-tcolor03{
  color: $txt-color03;
}

.am-tcolor04{
  color: $txt-color04;
}
.am-tcolor05{
  color: $txt-color05;
}

.am-tcolor06{
  color: $txt-color06;
}
