//
// <Project name>
// =============================================================================
body, html {
  height: 100%;
}

.#{$ns}con {
  background: $white;
}
.grid-expert .container{
    max-width: 960px;
}
.grid-expert .row {
  overflow: hidden;
}


.#{$ns}wrapper {
  width: 100%;
  //height: 100%;
  min-height: 100%;
  background: $bg-content;
}

.#{$ns}article-wrapper {
  width: 100%;
  //height: 100%;
  min-height: 100%;
  background: $bg-content;
}

//common
a {
  color: $text-color;
}

.#{$ns}text-white {
  color: $white;
}

.#{$ns}ltitle {
  font-size: $h1-font-size;
  color: $text-color1;
  margin-bottom: 20px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  font-family: $font-family-base;
  /*-webkit-appearance:none;*/

}

.#{$ns}block {
  @include block();
}

.#{$ns}mt20 {
  margin-top: 20px;
}

.#{$ns}mb20 {
  margin-bottom: 20px;
}

.#{$ns}mt40 {
  margin: 40px auto 10px;
}
.#{$ns}fhide{
  display: none;
}
.#{$ns}fshow{
  display: block;
}
.#{$ns}cursor{
  cursor: pointer;
}

//forms
.form-group {
  display: inline-block;
  margin: 4px auto;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;

  input[type="text"] {
    @include box-sizing(border-box);
    height: 45px;
    text-indent: 1rem;
    line-height: 45px;
    font-size: 1rem;
    border: 1px solid $line-ddd;

    &:focus {
      outline: 1px solid $text-color1;

    }

  }

}

.form-control {
  width: 100%;
  @include border-radius(4px)
}

.form-60 {
  width: 60%;
  @include border-radius(4px)
}

//btn

.#{$ns}btn {
  &.danger,
  &.danger:hover,
  &.error,
  &.error:hover,
  &.success,
  &.success:hover,
  &.info,
  &.info:hover {
    color: white
  }
  width: 100%;
  line-height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  display: block;
  @include border-radius(4px);
  &.success {
    background: $btn-success;
  }
  &.cancel {
    background: $btn-cancel;
    border: 1px solid $line-ddd;
  }
  &.disable {
    background: $bg-content;
    border: 1px solid $line-ddd;
  }
}

.#{$ns}btn-code {
  @include border-radius(4px);
  background: $black-10;
  width: 35%;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

//登录
.#{$ns}loging-wrapper {
  width: 100%;
  height: 100%;
  background: #5db6eb url("../image/bg.jpg") center center repeat-x;
}

.#{$ns}header {
  height: 90px;
  padding-top: 20px;
}

.#{$ns}foot {
  padding: 1rem 0;
  font-size: $base-font-size-px * 0.9;
}

.#{$ns}main {
  min-height: 80%;
  height: auto;
}

.#{$ns}loginBox {
  display: block;
  vertical-align: middle;
  width: 450px;
  margin: 10% auto 0 auto;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.8);
  padding: 60px 40px;
  @include border-radius(10px);
  @include box-shadow();

}

//index
.#{$ns}top-header {
  width: 100%;
  height: 45px;
  overflow: hidden;
  background: $bg-header;
  border-bottom: 1px solid $line-ddd;
}

.#{$ns}mlogo {
  line-height: 42px;
  height: 100%;
  img {
    vertical-align: middle;
  }
  b {
    font-size: 16px;
  }
  a {
    color: $base-text-color;
  }
}

.#{$ns}user {
  line-height: 42px;
  height: 45px;
  overflow: hidden;
  .box {
    width: 300px;
    float: right;

    text-align: right;
    img {
      width: 20px;
      height: 20px;
      background: $bg-content;
      @include border-radius(20px);
      margin-right: 5px;
    }
    span, a {
      color: $base-text-color;
      &:hover {
        color: $text-color1;
      }
    }
    color: $line-ddd;
  }

  img {
    vertical-align: middle;
  }
  a {
    padding: 0;
  }
}

//

.#{$ns}banner {
  width: 100%;
  height: 300px;
  background: url("../image/banner.jpg") center center no-repeat;
  @include clearfix();
  margin: 0;
}

// userDiv
.#{$ns}userDiv {
  width: 300px;
  background: white;
  text-align: center;
  @include block();
  @include opacity(0.8);
  .#{$ns}btn {
    margin: 20px auto 0;
    width: 80%;
    display: block;
  }
}

//大号的头像
.#{$ns}avatar {
  @include avatar(80);
  text-align: center;
  height: 80px;
  width: 80px;
  overflow: hidden;
  border: 1px solid $line-ddd;
  background: $black-10;
  img {
    width: 100%;

  }

}

//小号头像
.#{$ns}mavatar {
  @include avatar(30);
  text-align: center;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border: 1px solid $line-ddd;
  background: $black-10;
  img {
    width: 100%;

  }
}

.#{$ns}hd {
  @include clearfix();
  min-height: 45px;
  line-height: 45px;
  p {
    color: $text-info;
  }
  a {
    line-height: 21px;
    color: $text-666;
    &:hover {
      color: $brand-primary;
    }
  }
}

.#{$ns}bd {
  @include clearfix();
  p {
    color: $text-base;
    padding: 2px 0;
  }
}

.#{$ns}ullist {
  @include clearfix();
  width: 100%;
  margin: 0;
  li {
    background: $white;
    min-height: 120px;
    padding: 20px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  .imgDiv {
    overflow: hidden;
    vertical-align: middle;
    width: 120px;
    height: 120px;

    img {
      width: 100%;
      background-color: $gray;
    }

  }
  .txtDiv {

    display: block;
    overflow: hidden;
    a {
      line-height: 21px;

    }
    h4 {
      line-height: 21px;
      font-size: $base-font-size-px * 1.2;
      margin: 0;
      font-weight: bold;
      cursor: pointer;
      a {
        color: $text-base;
        &:hover {
          color: $brand-primary;
        }
      }
    }
    span {
      line-height: 21px;
    }

    p {
      width: 100%;
      clear: both;
      line-height: 21px;
    }
    .#{$ns}p-info {
      color: $text-info;
      font-size: 14px;
      margin: 0;
    }
    .#{$ns}p-content {
      height: 42px;
    }

  }

}

.#{$ns}info {
  @include clearfix();
  color: $text-666;
  margin-top: 10px;
  span {
    float: left;
    padding: 0 10px;
    i {
      float: left;
      margin-right: 5px;
    }
  }
  span + span {
    border-left: 1px solid #ccc;
  }
}

//article
.#{$ns}article {
  background: $white;
  padding: 20px;
  display: block;
  overflow: hidden;
  min-height: 500px;
  position: relative;
  h1{
    font-size: 1.5rem;
  }
  .#{$ns}article-title {
    width: 100%;
    margin: 0.2rem 0;
  }
  .#{$ns}article-meta {
    color: $text-info;
    font-size: $base-font-size-px * 0.9;
  }
  .#{$ns}userinfo-div {
    @include clearfix();
    height: 50px;
    margin-top: 10px;
    .#{$ns}userimg {
      display: inline-block;
      width: 50px;
      margin-right: 5px;
      float: left;
    }
    .#{$ns}userinfo {
      display:block;
      margin-top: 5px;
      float: left;
      p {
        line-height: $base-font-size-px;
        font-size: $base-font-size-px * 0.8;
      }
    }
    .#{$ns}img {
      @include avatar(40);
    }
  }
  .#{$ns}article-content {
    width: 100%;
    @include clearfix();
    margin: 10px auto 100px;

  }
  img {
    width: 100%;
    max-width: 690px;
    display: block;
    overflow: hidden;
    margin: 5px auto;
  }
  p {
    line-height: $base-font-size-px * 2;
    font-size: $base-font-size-px * 1.2;
  }
  .#{$ns}info {
    position: absolute;
    bottom: 3rem;
    width: 90%;
    left: 30px;
    font-size: $base-font-size-px * 0.8;
    i {
      //margin-top: 2px;
      font-size: $base-font-size-px * 0.8;
    }
  }
}

//comment

.#{$ns}comment {
  .#{$ns}ullist {
    li {
      padding: 0;
      clear: both;
      @include clearfix();
      border-bottom: 1px solid $line-ddd;
      min-height: 120px;

    }

    .#{$ns}p-content {
      clear: both;
      min-height: 30px;
      margin-left: 55px;
      color: $text-base;
    }
    .#{$ns}p-recontent {
      padding: 5px;
      background-color: $bg-header;
      color: $text-info;
      display: block;
      margin: 10px auto;
      span {
        color: $text-base;
      }
    }
  }

}

.#{$ns}edit {
  padding: 30px;
  background: $white;
  display: block;
  @include clearfix();
  .#{$ns}edit-lead {
    width: 6em;
    font-size: $base-font-size-px * 1.2;
    color: $text-666;
    text-align: right;
    line-height: 45px;
    margin-right: 1rem;
    i {
      color: $red;
      font-style: normal;
    }
  }
  .#{$ns}edit-input {
    min-width: 600px;
    overflow: hidden;
    input {
      width: 100%;
      background: #fafafa;
      padding: 10px;
      text-indent: 0;
    }
    textarea {
      background: #fafafa;
      resize: none;
      min-width: 600px;
    }
    button {
      width: 160px;
      cursor: pointer;
    }
  }
  .#{$ns}edit-error {
    @include clearfix();
    font-size: $base-font-size-px * 0.9 ;
    color: red;
    clear: both;
    margin-left: 100px;
  }

  select{
    height: 45px;

  }


}

.#{$ns}mobile{
  font-size: 1.6rem;
  p{
    line-height: 1.5;
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  p.mini{
    font-size: 1.3rem;
  }
  .#{$ns}btn{
    height: 6rem;font-size: 3rem;
    line-height: 6rem;
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .#{$ns}article-title{
    color:$btn-success ;
    padding-bottom: 5px;
    border-bottom: 1px solid $line-ddd;
  }
  ul  li{
    padding-bottom: 14px;
    border-bottom: 1px solid $line-ddd;
  }

}

.#{$ns}quaere{
  @include  clearfix();
  font-size: 1.2rem;
  display: block;
  width: 100%;
  margin-top: 10px;
  .#{$ns}lbox{
    width:5% ;
    margin-right: 2%;
    color:$btn-success;
    float: left;
  }
  .#{$ns}rbox{
    float: left;
    width:90% ;
    color:$text-base;
  }

}
.#{$ns}ismoblie{
  padding: 10px 20px;
  width: 100%;
  min-height: 82px;
  background: $text-color1;
  display: block;
  .#{$ns}hd{
    line-height: 60px;
  }
  strong{
    font-size: 0.8rem;
  }
  @include clearfix();
  a{

    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
  }
}
.newHeader {
  position: fixed;
  z-index: 99;
  width: 100%;
}
.weixin-tip{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  z-index: 100;
  p{text-align:center;margin-top:10%;padding:0 5%;position:relative;}
  .close{color:#fff;padding:5px;font:bold 20px/24px simsun;text-shadow:0 1px 0 #ddd;position:absolute;top:0;left:5%;}

}
.#{$ns}isPC{
  display: none;
}
.#{$ns}ismb{
  display: block;
  background: $white;
}
.#{$ns}username{
  color: $text-color1;
}