$bg-content:            #ebebeb;
$bg-header:             #f5f5f5;
$gray:                    #fafafa;
//text
$text-color1:             #00a53c;
$text-color:              #64a0dc;
$text-base:               #333;
$text-666:                #666;
$text-info:               #999;

$black-10:                 darken(#fff, 10%);
$black-20:                 darken(#fff, 20%);
//line
$line-ddd:                #ddd;
//btn
$btn-success:             #46be78;
$btn-cancel:              #fff;
// Brand colors
$brand-primary:           #64a0dc;
$brand-success:           #5cb85c;
$brand-warning:           #f0ad4e;
$brand-danger:            #d9534f;
$brand-info:              #5bc0de;