.#{$ns}container{
   @include container-fixed();
  max-width: 100%;
   @media (min-width: 768px) {
      width: $container-sm;
   }
  @media (min-width: 992px) {
    width: $container-md;
  }
  @media (min-width: 1200px) {
    width: $container-lg;
  }

}
.#{$ns}article-wrapper{

  .#{$ns}container{
    @include container-fixed();
    max-width: 100%;
    padding: 0;
    @media (min-width: 768px) {
      width: $container-sm;
    }
    @media (min-width: 992px) {
      width: $container-md;
    }
    @media (min-width: 1200px) {
      width: $container-lg;
    }

  }

}
.#{$ns}hd{
  margin: 0 auto;
  font-size:$font-size-base * 1.2;
  padding:10px 30px;
  height: 0.8rem;
  line-height: 0.8rem;
}
.#{$ns}article {
  p{
    font-size: $font-size-base * 1.2;
    line-height:  $line-height-base  * 1.2;
  }
  .#{$ns}info{
    i{
      margin-top: 0.05rem;
    }
    span{
      font-size: $font-size-base * 1.2;
    }
  }
  .#{$ns}userinfo-div{
    height: 0.5rem;
    display: inline-block;
    .#{$ns}userimg{
      width: 0.4rem;margin-right: 0.05rem;margin-top: 0.10rem;
    }
    .#{$ns}img{
      width: 0.4rem;
      height:0.4rem;
    }
    .#{$ns}userinfo{
      p{
        font-size: $font-size-base *0.8;
        vertical-align: text-top;
        line-height: $font-size-base *0.8;
      }
    }

  }
}

.#{$ns}info{
  span{
    font-size: $font-size-base * 1.2;
    padding: 0 0.1rem;
  }
}
.#{$ns}username{
  font-size: $font-size-base * 1.2;
  line-height:  $line-height-base  * 1.2;
  vertical-align: middle;
}
.#{$ns}mobile{
  .#{$ns}article-title{
    font-size: $font-size-base * 1.2;
  }
  p{
    padding: 0.1rem 0;
    line-height:  $font-size-base * 1.5;
  }
  p.mini{
    font-size: $font-size-base * 1.1;
  }
}

.#{$ns}ismoblie{
  background-color: $black;
  color: $white;
  display: block;
  overflow: hidden;
  z-index: 99;
  width: 100%;

  a{
    color: $white;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: $font-size-base;
  }
  .am-btn{
    padding: 0 10px;
  }
  @include opacity(0.8);
}
.#{$ns}isPc{
  display: none;
}

.newHeader {
  position: fixed;
}